<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="{{ author }}" />
  <title>{{ site.title }}{% block title %}: {{ entry.title }}{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for("static/css/syntax.css") }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for("static/css/main.css") }}" type="text/css" />
  <link href="{{ absolute_url_for("feed.atom") }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
</head>
<body>
  <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
  {% block content %}{% endblock %}
</body>
</html>
